<footer class="footer" >
    <!--<mat-grid-list [cols]="3" rowHeight="100px" color="primary">
      <mat-grid-tile [colspan]="3">
        <h2>Pontificia Universidad Javeriana</h2>
        <mat-divider></mat-divider>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <mat-list-item> Jairo Andres Camargo Vargas </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>-->
  </footer>
    
    