
<div class='header'>
  
  <mat-toolbar class="fuente-contenido" color="primary">
      <mat-toolbar-row>
        <span>Audisoft</span>
        <a mat-button routerLink="/" routerLinkActive="active">Inicio</a>
        
        <a mat-button   routerLink="/Estudiantes" routerLinkActive="active">Estudiantes</a>
        <a mat-button   routerLink="/Profesores" routerLinkActive="active">Profesores</a>
        <a mat-button   routerLink="/Notas" routerLinkActive="active">Notas</a>
        <span class="spacer"></span>

       

      </mat-toolbar-row>
  </mat-toolbar> 
</div>
